.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70vw;
}

.card-set {
    background-color: rgba(2, 2, 2, 0.3);
    border-radius: 10px;
    filter: saturate(0);
    margin: 22px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: perspective(1500px) rotateY(15deg);
    transition: transform 0.5s ease 0s;
    width: 30vw;
}

.card-set:hover {
    transform: rotateY(0deg);
    filter: saturate(1);
}

.dictature:hover {
    box-shadow: 0 2px 30px rgb(199, 50, 50);
}

.resistance:hover {
    box-shadow: 0 2px 30px rgb(84, 61, 189);
}

@media screen and (max-width: 768px) {
    .filter-container {
        flex-direction: column;
    }
    
    .card-set {
        transform: rotateY(0deg);
        filter: saturate(1);
        width: 55vw;
    }
    
    .dictature {
        box-shadow: 0 2px 30px rgba(199, 50, 50, 0.7);
    }
    
    .resistance {
        box-shadow: 0 2px 30px rgba(84, 61, 189, 0.7);
    }
}